@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body {
  color: white;
  height: 100vh;
  background-image: url("OIP.jpg");
}

.mother {
  width: 55%;
  height: 100vh;
  margin: auto;
  background-image: url(nn.jpeg);
}

/*navbar*/
svg {
  width: 90px;
}

#closeBtn {
  float: right;
}

.dftr-mnu {
  margin-top: 100px;
  color: black;
}

.side-menu a {
  font-family: "Jersey 25", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: 20px;
  margin-left: 5px;
}

.side-menu {
  display: none;
  /* transition: width 0.6s ease;
  overflow-y: hidden;
  padding-left: 20px;
  z-index: 999;
  height: 100%;
  position: fixed;
  font-size: 1.7em;
  background-color: #DDDDDD; */
}

.navi {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  color: white;
  width: fit-content;
}

.navigation {
  margin-right: 8px;
}

.navigation li a {
  font-size: 1em;
  font-weight: 200;
  text-decoration: none;
  color: white;
}

.navigation li {
  padding-right: 6px;
  line-height: 3rem;
  display: inline-block;
  list-style: none;
}

.navigation li a:hover {
  background-color: white;
  color: black;
  transition: .2s ease-in;
  border-radius: 5px;
}

.btns {
  line-height: 3rem;
  display: none;
  /* font-size: 1.6em;
  margin-right: 50px; */
}

.ab {
  margin-left: 25px;
  font-size: 1.9em;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*navbar end*/


section h2 {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.smbtn {
  transform: translate(0, 100%);
}


@media (max-width: 600px) {
  
  .smbtn {
    transform: translate(0, 50%);
  }

  .mother {
    width: 100%;
    margin: 0;
  }

  section h2 {
    font-size: 2.5em; 
  }

  .navigation {
    display: none;
  }

  .side-menu {
    display: block;
    transition: width 0.6s ease;
    overflow-y: hidden;
    padding-left: 20px;
    z-index: 999;
    height: 100%;
    position: fixed;
    font-size: 1.3em;
    font-weight: 100;
    background-color: #DDDDDD;
  }

  .btns {
    display: block;
    font-size: 1.6em;
    margin-right: 50px;
  }
}
