
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body{
  background-image: url("OIP.jpg");
}

svg{
  width: 90px;
}

.mother{
    width: 55%;
    height: fit-content;
    margin: auto;
    background-color: #DDDDDD;
}

.mother-photo{
      width: 55%;
      height: fit-content;
      height: 100vh;
      margin: auto;
      background-color: #DDDDDD;
  }

  .side-menu{
    display: none;
    /* transition: width 0.6s ease;
    overflow-y: hidden;
    padding-left: 20px;
    z-index: 999;
    height: 100%;
    position: fixed;
    font-size: 1.7em;
    background-color: #DDDDDD; */
  }
  
  .navi{
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav{
    color: black;
    width: fit-content;
  }
  
  .navigation{
    margin-right: 8px;
  }
  
  .navigation li a{
    font-size: 1em;
    font-weight: 200;
    text-decoration: none;
    color: black;
  }
  
  .navigation li{
    padding-right: 6px;
    line-height: 3rem;
    display: inline-block;
    list-style: none;
  }
  
  .navigation li a:hover{
    background-color: black;
    color: white;
    transition: .2s ease-in;
    border-radius: 5px;
  }

#closeBtn{
  float: right;
  cursor: pointer;
}

.dftr-mnu{
  margin-top: 100px;
}

.side-menu a{
  font-family: "Jersey 25", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: 20px;
  margin-left: 5px;
}

.btns{
    display: none;
    font-size: 1.6em;
}

.ab{
  margin-left: 30px;
  font-size: 1.9em;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container{
    min-width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.content{
  padding-top: 15px;
  margin-bottom: 50px;
}

.content > div > p{
  margin-bottom: 3px;
}

img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 80%;
  height: 60%;
}

.desc{
  margin-top: 0px;
  padding: 3px 9px;
  background-color: white;
  width: 80%;
  height: fit-content;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.desc h2{
  font-size: 1.5em;
}

.desc p{
  font-size: 14px;
}

.showMore{
  overflow: hidden;
  height: 0;
}
.showMore.active {
  height: auto; /* Saat aktif, ketinggian otomatis */
}
.buttons{
  margin-top: 12px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

button{
  border-radius: 8px;
  font-size: 2em;
  border: none;
  background-color: #76885B;
}

.photo{
    font-size: 1.3em;
}


/* Tambahkan aturan CSS ini untuk responsif  */
@media (max-width: 600px) {

  body{
    background-color: #DDDDDD;
  }

  .mother{
    width: 100%;
    margin: 0;
  }
  
  .mother-photo{
    width: 100%;
    margin: 0;
  }
  
  .ab{
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  nav p{
    color: black;
    font-size: .7em;
  }

  .navigation{
    display: none;
  }

  .btns{
    display: block;
    margin-right: 30px;
  }
  
  .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .content{
    margin-bottom: 10px;
    padding-top: 15px;
  }
  
  .content > div > p{
    margin-bottom: 3px;
  }
  
  img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100px;
    height: 100px;
  }
  
  .desc{
    margin-top: 0px;
    padding: 3px 9px;
    background-color: white;
    width: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .desc h2{
    font-size: 1em;
  }
  
  .desc p{
    font-size: .5em;
  }
  
  .side-menu{
    width: 0;
    display: block;
    transition: width 0.6s ease;
    overflow-y: hidden;
    padding-left: 20px;
    z-index: 999;
    height: 100%;
    position: fixed;
    font-size: 1.5em;
    font-weight: 100;
    background-color: #DDDDDD;
  }
  
  .buttons{
    margin-top: 12px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  button{
    border: none;
    background-color: #76885B;
  }
}
